In [7]:
select * from departments;
select * from employees;
select * from dept_emp;
select * from dept_manager;
select * from salaries;
select * from titles;
select * from retirement_info;

# Create new table for retiring employees
SELECT employee.emp_no,
    employees.first_name,
    employees.last_name,
    titles.title,
    titles.from_date,
    titles.to_date
   
INTO retirement_titles
from employees
INNER JOIN titles
ON employees.emp_no = title.emp_no
WHERE (birth_date BETWEEN '1952-01-01' AND '1955-12-31')
ORDER BY employees.emp_no;
 
# Check table
SELECT * FROM retirement_titles;

SyntaxError: invalid syntax (Temp/ipykernel_27552/4231052962.py, line 1)